body {
  cursor: default;
  letter-spacing: 1px;
  // overflow-x: hidden;
  overflow: hidden;
  user-select: none;
}

input[type=radio] {
  display: none;
  visibility: hidden;
}

.Button {
  border: 0;
  cursor: default;
  outline: 0;
  transition: all .3s ease;
  &:focus {
    outline: 0;
  }
  &.is-active {
    opacity: 1;
  }
  &.is-inactive {
    opacity: .1;
  }
}

.Button--transparent {
  background-color: transparent;
}

// /* Custom scroll bar */
// div::-webkit-scrollbar {
//   // width: .5em;
//   width: 3px;
// }

// div::-webkit-scrollbar-track {
//   /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
//   background-color: lightblue;
// }

// div::-webkit-scrollbar-thumb {
//   background-color: gray;
// }