body {
  cursor: default;
  letter-spacing: 1px;
  // overflow-x: hidden;
  overflow: hidden;
  user-select: none;
}

input[type=radio] {
  display: none;
  visibility: hidden;
}

.Button {
  border: 0;
  cursor: default;
  outline: 0;
  transition: all .3s ease;
  &:focus {
    outline: 0;
  }
  &.is-active {
    opacity: 1;
  }
  &.is-inactive {
    opacity: .1;
  }
}

.Button--transparent {
  background-color: transparent;
}

.Button--block {
  border-radius: 3px;
  padding: .15em .5em;
}

.Icon-group {
  width: 100%;
}

.Icon-wrapper {
  margin: 0 0 1.5em 0;
  text-align: center;
  transition: all .3s ease;
  width: 100%;
  max-width: 35px;
  min-height: 35px;
}

.Icon-wrapper--circle {
  border-radius: 50%;
  transition: all .3s ease;
  width: 35px;
  height: 35px;
}

.Section-codeBlock {
  font-family: 'Inconsolata', monospace;
  font-size: .8rem;
  padding: .5em;
  white-space: pre-wrap;
}

.Section-imagePreview {
  // background-size: cover;
  border-radius: 3px;
  margin-bottom: 1em;
  // margin: 0 auto 1em auto;
  // padding: .5em;
  // width: 90%;
  // height: 150px;
}

.Section-imagePreview-wrapper {
  overflow: hidden;
  & img {
    width: 150%;
  }
}

.Section-imagePreview-icon {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding: 0 0 1px 2px;
  position: absolute;
  top: .5em;
  right: 1.5em;
  width: 25px;
  height: 25px;
}

.Section-subtitle {
  margin: 1.5em 0 0 0;
}

.Section-title {
  margin: 0 0 1em 0;
}

.Settings-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Settings-list-item {
  align-items: center;
  border-left: 3px solid transparent;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin: .25em 0;
  padding: .25em .5em;
  position: relative;
}