body {
  cursor: default;
  letter-spacing: 1px;
  overflow-x: hidden;
  user-select: none;
}

input[type=radio] {
  display: none;
  visibility: hidden;
}

.Button {
  border: 0;
  cursor: default;
  outline: 0;
  transition: all .3s ease;
  &:focus {
    outline: 0;
  }
  &.is-active {
    opacity: 1;
  }
  &.is-inactive {
    opacity: .1;
  }
}

.Button--transparent {
  background-color: transparent;
}