// Fira Sans
@font-face {
  font-family: Fira Sans;
  src: url(~@/assets/fonts/FiraSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Fira Sans;
  src: url(~@/assets/fonts/FiraSans-Bold.ttf);
  font-weight: bold;
}

$fontFiraSans: 'Fira Sans', sans-serif;

// Inconsolata
@font-face {
  font-family: Inconsolata;
  src: url(~@/assets/fonts/Inconsolata-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url(~@/assets/fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}

$fontInconsolata: 'Inconsolata', monospace;

// Lato
@font-face {
  font-family: Lato;
  src: url(~@/assets/fonts/Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url(~@/assets/fonts/Lato-Bold.ttf);
  font-weight: bold;
}

$fontLato: 'Lato', sans-serif;

// Libre Baskerville
@font-face {
  font-family: 'Libre Baskerville';
  src: url(~@/assets/fonts/LibreBaskerville-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url(~@/assets/fonts/LibreBaskerville-Bold.ttf);
  font-weight: bold;
}

// Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url(~@/assets/fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(~@/assets/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

$fontOpenSans: 'Open Sans', sans-serif;

// Roboto
@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(~@/assets/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

$fontRoboto: 'Roboto', sans-serif;

// Roboto Condensed
@font-face {
  font-family: 'Roboto Condensed';
  src: url(~@/assets/fonts/RobotoCondensed-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(~@/assets/fonts/RobotoCondensed-Bold.ttf);
  font-weight: bold;
}

// Source Sans Pro
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url(~@/assets/fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url(~@/assets/fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

$fontLora: 'Source Sans Pro', sans-serif;

// Lora
@font-face {
  font-family: Lora;
  src: url(~@/assets/fonts/Lora-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Lora', serif;
  src: url(~@/assets/fonts/Lora-Bold.ttf);
  font-weight: bold;
}

$fontLora: 'Lora', serif;
