.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}

.ql-container {
  margin-top: 80px;
}

.ql-editor {
  cursor: auto;
  tab-size: 4;
  // text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
  &:focus {
    outline: 0;
  }
}

.ql-editor code {
  font-family: $fontInconsolata;
}

.ql-syntax {
  font-family: $fontInconsolata;
  white-space: inherit;
}