body {
  background-color: $colorBackground;
  color: $colorBody;
}

/* Custom scroll bar */
div::-webkit-scrollbar {
  // width: .5em;
  width: 3px;
}

div::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: $colorComment;
}

div::-webkit-scrollbar-thumb {
  background-color: $colorSelection;
}

.Button--block--field {
  background-color: $colorBackground;
  color: $colorBody;
  &:hover {
    color: $colorHeading;
  }
  &:disabled {
    color: $colorComment;
  }
}

.Button--transparent {
  color: $colorBody;
  &:hover {
    color: $colorHeading;
  }
  &.is-selected {
    color: $colorHeading;
  }
}

.Checkbox {
  border: 2px solid;
  border-radius: 3px;
  display: inline-block;
  margin: -3px 10px 0 0;
  transition: all .3s ease;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  &.is-active {
    background-color: $colorHeading;
    border-color: $colorComment;
    // &:hover {
    //   background-color: $colorCurrentLine;
    // }
  }
  &.is-inactive {
    background: $colorCurrentLine;
    border: 2px solid $colorBody;
    &:hover {
      background-color: $colorComment;
    }
  }
}

.Drawer {
  background-color: $colorBackground;
}

.Icon-wrapper--circle {
  background-color: $colorCurrentLine;
  &:hover {
    background-color: $colorBody;
  }
}

.Icon--files {
  &.is-selected .Icon--files-primary {
    fill: $colorHeading;
    stroke: $colorBody;
  }
  &:hover .Icon--files-primary {
    stroke: $colorHeading;
  }
}

.Icon--files-primary {
  fill: $colorBackground;
  stroke: $colorBody;
  transition: all .3s ease;
}

.Icon--files-secondary {
  fill: $colorBackground;
  stroke: $colorBody;
}

.Icon--new {
  & line {
    stroke: $colorBody;
    transition: all .3s ease;
  }
  &:hover line {
    stroke: $colorBackground;
  }
}

.Icon--slider {
  & line {
    stroke: $colorBody;
  }
  & circle {
    fill: $colorComment;
    stroke: $colorBody;
    transition: all .3s ease;
  }
  &.is-selected circle, 
  &:hover circle {
    fill: $colorHeading;
  }
}

.ql-editor blockquote {
  border-left: 3px solid $colorHeading;
  color: $colorBody;
  font-style: italic;
  margin: 2em 0 0 0;
  padding: 0 0 0 2em;
  &+blockquote {
    margin: 0;
  }
  &+h1,
  &+h2,
  &+h3,
  &+h4,
  &+h5,
  &+h6,
  &+p,
  &+pre,
  &+li,
  &+ul, {
    margin-top: 2em;
  }
}

.ql-editor h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colorHeading;
  font-weight: 600;
}

.ql-editor p {
  color: $colorBody;
  font-weight: 400;
}

.ql-editor code,
pre {
  background-color: $colorCurrentLine;
  border-radius: 2px;
  color: $colorCode;
}

.ql-editor code {
  padding: .2em .5em;
}

.ql-editor pre {
  padding: 1em 1.5em;
}

// $colorBodySelection must be rgba with opacity of .99
// due to chromium bug
.ql-editor {
  code,
  em,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  pre,
  strong,
  u {
    &::selection {
      background: $colorBodySelection;
      opacity: 1;
    }
  }
}

.Modal-dialog {
  background-color: $colorCurrentLine;
}

.Modal-filename-wrapper {
  background-color: $colorCurrentLine;
}

.RadioButton {
  border: 2px solid $colorBody;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 1em 0 0;
  width: 15px;
  height: 15px;
}

.RadioButton-label {
  margin: 0;
}

.Section {
  background-color: $colorCurrentLine;
  border-radius: 3px;
  margin: 1em 0 0 0;
  padding-top: 1em;
  padding-bottom: 1em;
  &:first-of-type {
    margin-top: 0;
  }
}

.Settings-contextMenu {
  background-color: $colorBackground;
}

.Settings-contextMenu-list-item {
  &:hover {
    color: $colorHeading;
  }
}

.Settings-list-item {
  align-items: center;
  border-left: 3px solid transparent;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin: .5em 0;
  padding: .25em .5em;
  &:hover {
    background-color: $colorBodySelection;
  }
  &.is-active {
    background-color: $colorBodySelection;
    border-color: $colorHeading;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.is-active .RadioButton {
    background-color: $colorHeading;
    border-color: $colorHeading;
  }
}

.Slider {
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
  &::-webkit-slider-runnable-track {
    background-color: $colorComment;
    width: 100%;
    height: 3px;
  }
  &::-webkit-slider-thumb {
    background-color: $colorHeading;
    border: 2px solid $colorHeading;
    border-radius: 50%;
    margin-top: -7px;
    transition: all .3s ease;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    &:hover, &:active {
      background-color: $colorHighlight;
      border-color: $colorHighlight;
    }
  }
}

.Slider-label-list {
  color: $colorBody;
  display: flex;
  font-size: .5rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 6px;
}

.TextInput {
  background-color: $colorCurrentLine;
  border: 0;
  border-bottom: 2px solid $colorBody;
  color: $colorHeading;
  outline: 0;
}

.Titlebar {
  background: $colorCurrentLine;
}

.Titlebar-section-icon {
  fill: $colorSelection;
  &:hover {
    background-color: $colorComment;
  }
}

.Titlebar-section-icon--danger {
  &:hover {
    background-color: $colorDanger;
    fill: $colorWhite;
  }
}

.Titlebar-section--title {
  color: $colorSelection;
}