// field
$colorBackground: #212121;

// primary text, blockquote text
$colorBody: #9e9e9e;

// primary text selection
$colorBodySelection: rgba(66, 66, 66, .99);

// heading
$colorHeading: #eee;

// button hover
$colorHighlight: #9e9e9e;

// code, pre
$colorCode: #737373;

// scroll track, code & pre background
$colorCurrentLine: #292929;

// slider track, 
$colorComment: #bdbdbd;

// scroll thumb
$colorSelection: #424242;

// titlebar close
$colorDanger: #e57373;

// titlebar close icon
$colorWhite: #fafafa;