$color0: #212121;
$color1: #9e9e9e;
$color2: #eee;
$color3: #737373;
$color4: #292929;
$color5: #bdbdbd;
$color6: #424242;
$color7: #e57373;
$color8: #616161;
// $color9: ;

// field
$colorBackground: $color0;

// primary text, blockquote text
$colorBody: $color5;

// primary text selection
$colorBodySelection: rgba(66, 66, 66, .99);

// selection text color
$colorSelection: #9e9e9e;

// h1
$colorHeading1: $color2;

// h2
$colorHeading2: $color1;

// h3-h5
$colorHeading3: $color8;

// code, pre
$colorCode: #737373;

// scrollbar
$colorScrollThumb: $color2;
$colorScrollTrack: $color6;

// scroll track, code & pre background
$colorCurrentLine: #292929;

// slider track
$colorComment: #bdbdbd;
$colorSliderButton: $color2;
$colorSliderButtonHover: #9e9e9e;

// titlebar
$colorTitlebar: #292929;

// titlebar text
$colorTitlebarText: $color8;
$colorTitlebarTextAlt: $color8;

// titlebar close
$colorDanger: #e57373;

// titlebar close icon
$colorWhite: #fafafa;

// toolbar
$colorToolbarPrimary: $color6;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorIconPrimary: $color6;
$colorIconSecondary: $color2;
$colorIconTertiary: $color0;

$colorSectionBg: $color4;
$colorSectionCodeBlock: $color5;
$colorSectionCodeBlockBg: $color0;
$colorSettingsListItemActive: $color0;