// field
$colorBackground: #282a36;

// primary text, blockquote text
$colorBody: #bd93f9;

// primary text selection
$colorBodySelection: rgba(68, 71, 90, .99);

// heading
$colorHeading: #50fa7b;

// button hover
$colorHighlight: #ffb86c;

// code, pre
$colorCode: #8be9fd;

// scroll track
$colorCurrentLine: #2f313e;

// code & pre background
$colorComment: #44475a;

// scroll thumb
$colorSelection: #6272a4;