$colorBackground: #282a36;
$colorBody: #bd93f9;
$colorBodySelection: rgba(68, 71, 90, .99);
$colorHeading: #50fa7b;
$colorHighlight: #ffb86c;
$colorCode: #8be9fd;
$colorCurrentLine: #2f313e;
$colorComment: #6272a4;
$colorSelection: #44475a;