// field
$colorBackground: #332d38;

// primary text, blockquote text
$colorBody: #dea9e4;

// primary text selection
$colorBodySelection: rgba(3, 102, 214, .99);

// selection text color
$colorSelection: #ffffff;

// heading
$colorHeading: #0de2c9;

// button hover
$colorHighlight: #279ee6;

// code, pre
$colorCode: #b2b8ce;

// scroll track, code & pre background
$colorCurrentLine: #2d2731;

// slider track
$colorComment: #C8C9CB;

// scroll thumb
$colorSelection: #24292e;

// titlebar
$colorTitlebar: #2d2731;

// titlebar text
$colorTitlebarText: #615769;

// titlebar close
$colorDanger: #cb2431;

// titlebar close icon
$colorWhite: #f8f8f2