$color0: #332d38;
$color1: #dea9e4;
$color2: #0de2c9;
$color3: #279ee6;
$color4: #e8d3ea;
$color5: #332d38;
$color6: #b2b8ce;
$color7: #2d2731;
$color8: #615769;
$color9: #cb2431;
$color10: #f8f8f2;

// field
$colorBackground: $color0;

// primary text, blockquote text
$colorBody: $color1;

// primary text selection
$colorBodySelection: rgba(3, 102, 214, .99);

// selection text color
$colorSelection: #ffffff;

// h1
$colorHeading1: $color2;

// h2
$colorHeading2: $color3;

// h3-h5
$colorHeading3: $color4;

// button hover
$colorHighlight: $color5;

// code, pre
$colorCode: $color6;

// scrollbar
$colorScrollThumb: $color2;
$colorScrollTrack: $color8;

// scroll track, code & pre background
$colorCurrentLine: $color7;

// slider track
$colorComment: $color8;

// titlebar
$colorTitlebar: $color7;

// titlebar text
$colorTitlebarText: $color8;

// titlebar close
$colorDanger: $color9;

// titlebar close icon
$colorWhite: $color10;

// toolbar
$colorToolbarPrimary: $color8;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorSectionCodeBlockBg: $color0;