// field
$colorBackground: #FFFFFF;

// primary text, blockquote text
$colorBody: #24292e;

// primary text selection
$colorBodySelection: rgba(3, 102, 214, .99);

// selection text color
$colorSelection: #ffffff;

// heading
$colorHeading: #0366d6;

// button hover
$colorHighlight: #ffb86c;

// code, pre
$colorCode: #6f42c1;

// scroll track, code & pre background
$colorCurrentLine: #f6f8fa;

// slider track
$colorComment: #C8C9CB;

// scroll thumb
$colorSelection: #24292e;

// titlebar
$colorTitlebar: #24292e;

// titlebar close
$colorDanger: #cb2431;

// titlebar close icon
$colorWhite: #f8f8f2