$color0: #fff;
$color1: #24292e;
$color2: #0366d6;
$color3: #6f42c1;
$color4: #ffb86c;
$color5: #f6f8fa;
$color6: #C8C9CB;
$color7: #24292e;
$color8: #2f313e;
$color9: #cb2431;

// field
$colorBackground: $color0;

// primary text, blockquote text
$colorBody: $color2;

// primary text selection
$colorBodySelection: rgba(3, 102, 214, .99);

// selection text color
$colorSelection: $color0;

// h1
$colorHeading1: $color2;

// h2
$colorHeading2: $color3;

// h3-h5
$colorHeading3: $color1;

// button hover
$colorHighlight: $color5;

// code, pre
$colorCode: $color3;

// scrollbar
$colorScrollThumb: $color6;
$colorScrollTrack: $color7;

// scroll track, code & pre background
$colorCurrentLine: $color6;

// slider track
$colorComment: $color7;

// titlebar
$colorTitlebar: $color8;

// titlebar text
$colorTitlebarText: $color9;

// titlebar close
$colorDanger: $color9;

// titlebar close icon
$colorWhite: $color0;

// toolbar
$colorToolbarPrimary: $color8;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorSectionCodeBlockBg: $color0;