$color0: #fafafa;
$color1: #212121;
$color2: #424242;
$color3: #424242;
$color4: #424242;
$color5: #9e9e9e;
$color6: #757575;
$color7: #bdbdbd;
$color8: #eee;
$color9: #2f313e;
$color10: #e57373;

// field
$colorBackground: #fafafa;

// primary text, blockquote text
$colorBody: #212121;

// primary text selection
$colorBodySelection: rgba(224, 224, 224, .99);

// selection text color
$colorSelection: #212121;

// h1
$colorHeading1: #424242;

// h2
$colorHeading2: #424242;

// h3-h5
$colorHeading3: #424242;

// button hover
$colorHighlight: #9e9e9e;

// code, pre
$colorCode: #757575;

// scrollbar
$colorScrollThumb: #bdbdbd;
$colorScrollTrack: #eeeeee;

// scroll track, code & pre background
$colorCurrentLine: #eeeeee;

// slider track, 
$colorComment: #bdbdbd;

// titlebar
$colorTitlebar: #eeeeee;

// titlebar text
$colorTitlebarText: #2f313e;

// titlebar close
$colorDanger: #e57373;

// titlebar close icon
$colorWhite: #fafafa;

// toolbar
$colorToolbarPrimary: $color8;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorSectionCodeBlockBg: #fafafa;