$color0: #2d3748;
$color1: #EAF2F4;
$color2: #61ffab;
$color3: #65f3ef;
$color4: #354258;
$color5: #BA68C8;
$color6: #283140;
$color7: #516280;
$color8: #ff5555;
$color9: #f8f8f2;

// field
$colorBackground: $color0;

// primary text, blockquote text
$colorBody: $color1;

// primary text selection
$colorBodySelection: rgba(68, 71, 90, .99);

// selection text color
$colorSelection: $color1;

// h1
$colorHeading1: $color2;

// h2
$colorHeading2: $color3;

// h3-h5
$colorHeading3: $color7;

// code, pre
$colorCode: $color5;

// scrollbar
$colorScrollThumb: $color2;
$colorScrollTrack: $color7;

// scroll track
$colorCurrentLine: $color4;
$colorSliderTrack: $color7;
$colorSliderButton: $color2;
$colorSliderButtonHover: $color3;

// code & pre background
$colorComment: $color4;

// titlebar
$colorTitlebar: $color6;

// titlebar text
$colorTitlebarText: $color7;
$colorTitlebarTextAlt: $color7;

// titlebar close
$colorDanger: $color8;

// titlebar close icon
$colorWhite: $color9;

// toolbar
$colorToolbarPrimary: $color7;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorIconPrimary: $color7;
$colorIconSecondary: $color2;
$colorIconTertiary: $color0;

$colorSectionBg: $color4;
$colorSectionCodeBlock: $color2;
$colorSectionCodeBlockBg: $color0;
$colorSettingsListItemActive: $color6;