// field
$colorBackground: #2C292D;

// primary text, blockquote text
$colorBody: #dad2c6;

// primary text selection
$colorBodySelection: rgba(33, 31, 34, 0.99);

// selection text color
$colorSelection: #dad2c6;

// h1
$colorHeading1: #FFD866;

// h2
$colorHeading2: #78DCE8;

// h3-h5
$colorHeading3: #3E3B3F;

// button hover
$colorHighlight: #FC9867;

// code, pre
$colorCode: #78DCE8;

// scroll track, slider track
$colorComment: #211F22;

// code & pre background, section background
$colorCurrentLine: #3E3B3F;

// titlebar
$colorTitlebar: #3E3B3F;

// titlebar text
$colorTitlebarText: #2f313e;

// titlebar close
$colorDanger: #FF6188;

// titlebar close icon
$colorWhite: #FDF9F3