// field
$colorBackground: #2C292D;

// primary text, blockquote text
$colorBody: #FDF9F3;

// primary text selection
$colorBodySelection: rgba(34, 37, 43, .99);

// heading
$colorHeading: #FFD866;

// button hover
$colorHighlight: #FF6188;

// code, pre
$colorCode: #78DCE8;

// scroll track
$colorComment: #3E3B3F;

// code & pre background
$colorCurrentLine: #3E3B3F;

// scroll thumb
$colorSelection: #FFD866;

// titlebar close
$colorDanger: #ff5555;

// titlebar close icon
$colorWhite: #f8f8f2