$color0: #282C34;
$color1: #ABB2BF;
$color2: #C678DD;
$color3: #56B6C2;
$color4: #2D313B;
$color5: #61AFEF;
$color6: #21252b;
$color7: #62686d;
$color8: #E06C75;
$color9: #f8f8f2;

// field
$colorBackground: #282C34;

// primary text
$colorBody: #ABB2BF;

// primary text selection
$colorBodySelection: rgba(34, 37, 43, .99);

// selection text color
$colorSelection: #ABB2BF;

// h1
$colorHeading1: #C678DD;

// h2
$colorHeading2: #56B6C2;

// h3-h5
$colorHeading3: #2D313B;

// blockquote text
$colorHighlight: $color3;

// code, pre
$colorCode: $color5;

// scrollbar
$colorScrollThumb: $color2;
$colorScrollTrack: #21252b;

// scroll track, slider track
$colorComment: #21252b;

// code & pre background
$colorCurrentLine: #2D313B;

// titlebar
$colorTitlebar: #2D313B;

// titlebar text
$colorTitlebarText: #2f313e;

// titlebar close
$colorDanger: #E06C75;

// titlebar close icon
$colorWhite: #f8f8f2;

// toolbar
$colorToolbarPrimary: $color7;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorSectionCodeBlockBg: #282C34;