// field
$colorBackground: #282C34;

// primary text
$colorBody: #ABB2BF;

// primary text selection
$colorBodySelection: rgba(34, 37, 43, .99);

// heading
$colorHeading: #C678DD;

// code, pre
$colorCode: #61AFEF;

// scroll track
$colorComment: #2D313B;

// code & pre background
$colorCurrentLine: #2D313B;

// scroll thumb
$colorSelection: #C678DD;