// field
$colorBackground: #282C34;

// primary text
$colorBody: #ABB2BF;

// primary text selection
$colorBodySelection: rgba(34, 37, 43, .99);

// selection text color
$colorSelection: #ABB2BF;

// h1
$colorHeading1: #C678DD;

// h2
$colorHeading2: #56B6C2;

// h3-h5
$colorHeading3: #2D313B;

// blockquote text
$colorHighlight: #56B6C2;

// code, pre
$colorCode: #61AFEF;

// scroll track, slider track
$colorComment: #21252b;

// code & pre background
$colorCurrentLine: #2D313B;

// titlebar
$colorTitlebar: #2D313B;

// titlebar text
$colorTitlebarText: #2f313e;

// titlebar close
$colorDanger: #E06C75;

// titlebar close icon
$colorWhite: #f8f8f2