$color0: #263040;
$color1: #FEF1E9;
$color2: #e05753;
$color3: #EED179;
$color4: #E9C9CA;
$color5: #364358;
$color6: #8fa1bf;
$color7: #212a38;
$color8: #ff5555;
$color9: #f8f8f2;

// field
$colorBackground: $color0;

// primary text, blockquote text
$colorBody: $color1;

// primary text selection
$colorBodySelection: rgba(68, 71, 90, .99);

// selection text color
$colorSelection: $color1;

// h1
$colorHeading1: $color2;

// h2
$colorHeading2: $color3;

// h3-h5
$colorHeading3: $color6;

// code, pre
$colorCode: $color4;

// scrollbar
$colorScrollThumb: $color2;
$colorScrollTrack: $color6;

// scroll track
$colorCurrentLine: $color5;
$colorSliderButton: $color2;
$colorSliderButtonHover: $color3;

// code & pre background
$colorComment: $color6;

// titlebar
$colorTitlebar: $color5;

// titlebar text
$colorTitlebarText: $color7;
$colorTitlebarTextAlt: $color7;

// titlebar close
$colorDanger: $color8;

// titlebar close icon
$colorWhite: $color9;

// toolbar
$colorToolbarPrimary: $color6;
$colorToolbarSecondary: $color2;

// Drawer colors
$colorIconPrimary: $color6;
$colorIconSecondary: $color2;
$colorIconTertiary: $color5;

$colorSectionBg: $color5;
$colorSectionCodeBlock: $color2;
$colorSectionCodeBlockBg: $color0;
$colorSettingsListItemActive: $color6;