body {
  background-color: #fafafa;
}

/* Custom scroll bar */
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #6272a4;
}

body::-webkit-scrollbar-thumb {
  background-color: #44475a;
}

.ql-editor h1,
h2,
h3,
h4,
h5,
h6 {
  color: #50fa7b;
  font-weight: 600;
}

.ql-editor p {
  color: #bd93f9;
  font-weight: 400;
}

.ql-editor p::selection {
  background: rgba(68, 71, 90, .99);
  opacity: 1;
}

ul {
  color: #bd93f9;
}