body {
  background-color: #2d3748;
  color: #EAF2F4;
}

/* Custom scroll bar */
div::-webkit-scrollbar {
  width: 3px;
}

div::-webkit-scrollbar-track {
  background-color: #516280;
}

div::-webkit-scrollbar-thumb {
  background-color: #61ffab;
}

.Button--block--field {
  background-color: #2d3748;
  color: #EAF2F4;
}

.Button--block--field:hover {
  color: #61ffab;
}

.Button--block--field:disabled {
  color: #354258;
}

.Button--transparent {
  color: #516280;
}

.Button--transparent:hover {
  color: #61ffab;
}

.Button--transparent.is-selected {
  color: #61ffab;
}

.Checkbox {
  border: 2px solid;
  border-radius: 3px;
  display: inline-block;
  margin: -3px 10px 0 0;
  transition: all .3s ease;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.Checkbox.is-active {
  background-color: #61ffab;
  border-color: #61ffab;
}

.Checkbox.is-active:hover {
  background-color: #354258;
  border-color: #EAF2F4;
}

.Checkbox.is-inactive {
  background: #354258;
  border: 2px solid #EAF2F4;
}

.Checkbox.is-inactive:hover {
  background-color: #61ffab;
  border-color: #61ffab;
}

.Drawer {
  background-color: #2d3748;
}

.Drawer-title {
  color: #61ffab;
}

.Icon-wrapper {
  color: #516280;
}

.Icon-wrapper:hover {
  color: #61ffab;
}

.Icon-wrapper--circle {
  background-color: #516280;
}

.Icon-wrapper--circle:hover {
  background-color: #61ffab;
}

.Icon--files.is-selected .Icon--files-primary {
  fill: #61ffab;
  stroke: #516280;
}

.Icon--files:hover .Icon--files-primary {
  stroke: #61ffab;
}

.Icon--files-primary {
  fill: #2d3748;
  stroke: #516280;
  transition: all .3s ease;
}

.Icon--files-secondary {
  fill: #2d3748;
  stroke: #516280;
}

.Icon--new line {
  stroke: #2d3748;
  transition: all .3s ease;
}

.Icon--new:hover line {
  stroke: #2d3748;
}

.Icon--slider line {
  stroke: #516280;
}

.Icon--slider circle {
  fill: #2d3748;
  stroke: #516280;
  transition: all .3s ease;
}

.Icon--slider.is-selected circle,
.Icon--slider:hover circle {
  fill: #61ffab;
}

.ql-editor blockquote {
  border-left: 3px solid #61ffab;
  color: #EAF2F4;
  font-style: italic;
  margin: 2em 0 0 0;
  padding: 0 0 0 2em;
}

.ql-editor blockquote + blockquote {
  margin: 0;
}

.ql-editor blockquote + h1,
.ql-editor blockquote + h2,
.ql-editor blockquote + h3,
.ql-editor blockquote + h4,
.ql-editor blockquote + h5,
.ql-editor blockquote + h6,
.ql-editor blockquote + p,
.ql-editor blockquote + pre,
.ql-editor blockquote + li,
.ql-editor blockquote + ul {
  margin-top: 2em;
}

.ql-editor h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.ql-editor h1 {
  color: #61ffab;
}

.ql-editor h2 {
  color: #65f3ef;
}

.ql-editor h3, h4, h5, h6 {
  color: #516280;
}

.ql-editor p {
  color: #EAF2F4;
  font-weight: 400;
}

.ql-editor code,
pre {
  background-color: #354258;
  border-radius: 2px;
  color: #BA68C8;
}

.ql-editor code {
  padding: .2em .5em;
}

.ql-editor pre {
  padding: 1em 1.5em;
}

.ql-editor code::selection,
.ql-editor em::selection,
.ql-editor h1::selection,
.ql-editor h2::selection,
.ql-editor h3::selection,
.ql-editor h4::selection,
.ql-editor h5::selection,
.ql-editor h6::selection,
.ql-editor li::selection,
.ql-editor p::selection,
.ql-editor pre::selection,
.ql-editor strong::selection,
.ql-editor u::selection {
  background: rgba(68, 71, 90, 0.99);
  opacity: 1;
}

.Modal-dialog {
  background-color: #354258;
}

.Modal-filename-wrapper {
  background-color: #354258;
}

.Modal-title {
  color: #65f3ef;
}

.RadioButton {
  border: 2px solid #EAF2F4;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 1em 0 0;
  width: 15px;
  height: 15px;
}

.RadioButton-label {
  margin: 0;
}

.Section {
  background-color: #354258;
  border-radius: 3px;
  margin: 1em 0 0 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Section:first-of-type {
  margin-top: 0;
}

.Section-codeBlock {
  background-color: #2d3748;
  color: #61ffab;
}

.Section-imagePreview-icon {
  background-color: #354258;
  color: #61ffab;
}

.Section-subtitle {
  color: #65f3ef;
}

.Section-title {
  color: #65f3ef;
}

.Settings-contextMenu {
  background-color: #2d3748;
}

.Settings-contextMenu-list-item:hover {
  color: #61ffab;
}

.Settings-list-item:hover {
  background-color: #283140;
}

.Settings-list-item.is-active {
  background-color: #283140;
  border-color: #61ffab;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Settings-list-item.is-active .RadioButton {
  background-color: #61ffab;
  border-color: #61ffab;
}

.Slider {
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

.Slider:focus {
  outline: 0;
}

.Slider::-webkit-slider-runnable-track {
  background-color: #516280;
  width: 100%;
  height: 3px;
}

.Slider::-webkit-slider-thumb {
  background-color: #61ffab;
  border: 2px solid #61ffab;
  border-radius: 50%;
  margin-top: -7px;
  transition: all .3s ease;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
}

.Slider::-webkit-slider-thumb:hover, .Slider::-webkit-slider-thumb:active {
  background-color: #65f3ef;
  border-color: #65f3ef;
}

.Slider-label-list {
  color: #EAF2F4;
  display: flex;
  font-size: .5rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 6px;
}

.TextInput {
  background-color: #354258;
  border: 0;
  border-bottom: 2px solid #EAF2F4;
  color: #61ffab;
  outline: 0;
}

.Titlebar {
  background: #283140;
}

.Titlebar-section-icon {
  fill: #516280;
}

.Titlebar-section-icon:hover {
  background-color: #354258;
  fill: #516280;
}

.Titlebar-section-icon--danger:hover {
  background-color: #ff5555;
  fill: #f8f8f2;
}

.Titlebar-section--title {
  color: #516280;
}
