body {
  background-color: #282C34;
  color: #ABB2BF;
}

/* Custom scroll bar */
div::-webkit-scrollbar {
  width: 3px;
}

div::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #21252b;
}

div::-webkit-scrollbar-thumb {
  background-color: #61AFEF;
}

.Button--block--field {
  background-color: #282C34;
  color: #ABB2BF;
}

.Button--block--field:hover {
  color: #C678DD;
}

.Button--block--field:disabled {
  color: #21252b;
}

.Button--transparent {
  color: #ABB2BF;
}

.Button--transparent:hover {
  color: #C678DD;
}

.Button--transparent.is-selected {
  color: #C678DD;
}

.Checkbox {
  border: 2px solid;
  border-radius: 3px;
  display: inline-block;
  margin: -3px 10px 0 0;
  transition: all .3s ease;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.Checkbox.is-active {
  background-color: #C678DD;
  border-color: #21252b;
}

.Checkbox.is-inactive {
  background: #2D313B;
  border: 2px solid #ABB2BF;
}

.Checkbox.is-inactive:hover {
  background-color: #21252b;
}

.Drawer {
  background-color: #282C34;
}

.Icon-wrapper--circle {
  background-color: #2D313B;
}

.Icon-wrapper--circle:hover {
  background-color: #ABB2BF;
}

.Icon--files.is-selected .Icon--files-primary {
  fill: #C678DD;
  stroke: #ABB2BF;
}

.Icon--files:hover .Icon--files-primary {
  stroke: #C678DD;
}

.Icon--files-primary {
  fill: #282C34;
  stroke: #ABB2BF;
  transition: all .3s ease;
}

.Icon--files-secondary {
  fill: #282C34;
  stroke: #ABB2BF;
}

.Icon--new line {
  stroke: #ABB2BF;
  transition: all .3s ease;
}

.Icon--new:hover line {
  stroke: #282C34;
}

.Icon--slider line {
  stroke: #ABB2BF;
}

.Icon--slider circle {
  fill: #21252b;
  stroke: #ABB2BF;
  transition: all .3s ease;
}

.Icon--slider.is-selected circle,
.Icon--slider:hover circle {
  fill: #C678DD;
}

.ql-editor blockquote {
  border-left: 3px solid #C678DD;
  color: #ABB2BF;
  font-style: italic;
  margin: 2em 0 0 0;
  padding: 0 0 0 2em;
}

.ql-editor blockquote + blockquote {
  margin: 0;
}

.ql-editor blockquote + h1,
.ql-editor blockquote + h2,
.ql-editor blockquote + h3,
.ql-editor blockquote + h4,
.ql-editor blockquote + h5,
.ql-editor blockquote + h6,
.ql-editor blockquote + p,
.ql-editor blockquote + pre,
.ql-editor blockquote + li,
.ql-editor blockquote + ul {
  margin-top: 2em;
}

.ql-editor h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C678DD;
  font-weight: 600;
}

.ql-editor p {
  color: #ABB2BF;
  font-weight: 400;
}

.ql-editor code,
pre {
  background-color: #2D313B;
  border-radius: 2px;
  color: #61AFEF;
}

.ql-editor code {
  padding: .2em .5em;
}

.ql-editor pre {
  padding: 1em 1.5em;
}

.ql-editor code::selection,
.ql-editor em::selection,
.ql-editor h1::selection,
.ql-editor h2::selection,
.ql-editor h3::selection,
.ql-editor h4::selection,
.ql-editor h5::selection,
.ql-editor h6::selection,
.ql-editor li::selection,
.ql-editor p::selection,
.ql-editor pre::selection,
.ql-editor strong::selection,
.ql-editor u::selection {
  background: rgba(34, 37, 43, 0.99);
  opacity: 1;
}

.Modal-dialog {
  background-color: #2D313B;
}

.Modal-filename-wrapper {
  background-color: #2D313B;
}

.RadioButton {
  border: 2px solid #ABB2BF;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 1em 0 0;
  width: 15px;
  height: 15px;
}

.RadioButton-label {
  margin: 0;
}

.Section {
  background-color: #2D313B;
  border-radius: 3px;
  margin: 1em 0 0 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Section:first-of-type {
  margin-top: 0;
}

.Section-codeBlock {
  background-color: #21252b;
}

.Settings-contextMenu {
  background-color: #282C34;
}

.Settings-contextMenu-list-item:hover {
  color: #C678DD;
}

.Settings-list-item:hover {
  background-color: rgba(34, 37, 43, 0.99);
}

.Settings-list-item.is-active {
  background-color: rgba(34, 37, 43, 0.99);
  border-color: #C678DD;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Settings-list-item.is-active .RadioButton {
  background-color: #C678DD;
  border-color: #C678DD;
}

.Slider {
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

.Slider:focus {
  outline: 0;
}

.Slider::-webkit-slider-runnable-track {
  background-color: #21252b;
  width: 100%;
  height: 3px;
}

.Slider::-webkit-slider-thumb {
  background-color: #C678DD;
  border: 2px solid #C678DD;
  border-radius: 50%;
  margin-top: -7px;
  transition: all .3s ease;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
}

.Slider::-webkit-slider-thumb:hover, .Slider::-webkit-slider-thumb:active {
  background-color: #56B6C2;
  border-color: #56B6C2;
}

.Slider-label-list {
  color: #ABB2BF;
  display: flex;
  font-size: .5rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 6px;
}

.TextInput {
  background-color: #2D313B;
  border: 0;
  border-bottom: 2px solid #ABB2BF;
  color: #C678DD;
  outline: 0;
}

.Titlebar {
  background: #2D313B;
}

.Titlebar-section-icon {
  fill: #61AFEF;
}

.Titlebar-section-icon:hover {
  background-color: #21252b;
}

.Titlebar-section-icon--danger:hover {
  background-color: #E06C75;
  fill: #f8f8f2;
}

.Titlebar-section--title {
  color: #61AFEF;
}
