body {
  background-color: #282C34;
  color: #ABB2BF;
}

/* Custom scroll bar */
body::-webkit-scrollbar, .Drawer::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track, .Drawer::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #2D313B;
}

body::-webkit-scrollbar-thumb, .Drawer::-webkit-scrollbar-thumb {
  background-color: #61AFEF;
}

.Button--transparent {
  color: #C678DD;
}

.Button--transparent:hover {
  color: #56B6C2;
}

.Button--transparent.is-selected {
  color: #56B6C2;
}

.Drawer {
  background-color: #282C34;
}

.Header {
  background-color: #282C34;
}

.ql-editor blockquote {
  border-left: 3px solid #C678DD;
  color: #ABB2BF;
  font-style: italic;
  margin: 2em 0 0 0;
  padding: 0 0 0 2em;
}

.ql-editor blockquote + blockquote {
  margin: 0;
}

.ql-editor blockquote + h1,
.ql-editor blockquote + h2,
.ql-editor blockquote + h3,
.ql-editor blockquote + h4,
.ql-editor blockquote + h5,
.ql-editor blockquote + h6,
.ql-editor blockquote + p,
.ql-editor blockquote + pre,
.ql-editor blockquote + li,
.ql-editor blockquote + ul {
  margin-top: 2em;
}

.ql-editor h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C678DD;
  font-weight: 600;
}

.ql-editor p {
  color: #ABB2BF;
  font-weight: 400;
}

.ql-editor code,
pre {
  background-color: #2D313B;
  border-radius: 2px;
  color: #61AFEF;
}

.ql-editor code {
  padding: .2em .5em;
}

.ql-editor pre {
  padding: 1em 1.5em;
}

.ql-editor code::selection,
.ql-editor em::selection,
.ql-editor h1::selection,
.ql-editor h2::selection,
.ql-editor h3::selection,
.ql-editor h4::selection,
.ql-editor h5::selection,
.ql-editor h6::selection,
.ql-editor li::selection,
.ql-editor p::selection,
.ql-editor pre::selection,
.ql-editor strong::selection,
.ql-editor u::selection {
  background: rgba(34, 37, 43, 0.99);
  opacity: 1;
}

.RadioButton {
  border: 2px solid #ABB2BF;
  border-radius: 50%;
  display: inline-block;
  margin: 4px 1em 0 0;
  width: 15px;
  height: 15px;
}

.RadioButton-label {
  margin: 0;
}

.Section {
  margin: 1em 0 0 0;
}

.Section-subtitle {
  margin: 1.5em 0 .5em 0;
}

.Section-title {
  margin: 0 0 1em 0;
}

.Settings-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Settings-list-item {
  border-radius: 3px;
  display: flex;
  margin: .5em 0;
  padding: .25em 0 .25em .5em;
}

.Settings-list-item:hover {
  background-color: rgba(34, 37, 43, 0.99);
}

.Settings-list-item.is-active .RadioButton {
  background-color: #C678DD;
  border-color: #C678DD;
}

.Slider {
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

.Slider:focus {
  outline: 0;
}

.Slider::-webkit-slider-runnable-track {
  background-color: #2D313B;
  width: 100%;
  height: 3px;
}

.Slider::-webkit-slider-thumb {
  background-color: #C678DD;
  border: 2px solid #C678DD;
  border-radius: 50%;
  margin-top: -7px;
  transition: all .3s ease;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
}

.Slider::-webkit-slider-thumb:hover, .Slider::-webkit-slider-thumb:active {
  background-color: #56B6C2;
  border-color: #56B6C2;
}

.Slider-label-list {
  color: #ABB2BF;
  display: flex;
  font-size: .5rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 6px;
}
