body {
  background-color: #282C34;
}

/* Custom scroll bar */
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #2D313B;
}

body::-webkit-scrollbar-thumb {
  background-color: #61AFEF;
}

.Button--transparent {
  color: #C678DD;
}

.Button--transparent:hover {
  color: #56B6C2;
}

.Header {
  background-color: #282C34;
}

.ql-editor blockquote {
  border-left: 3px solid #C678DD;
  color: #ABB2BF;
  font-style: italic;
  margin: 2em 0 0 0;
  padding: 0 0 0 2em;
}

.ql-editor blockquote + blockquote {
  margin: 0;
}

.ql-editor blockquote + h1,
.ql-editor blockquote + h2,
.ql-editor blockquote + h3,
.ql-editor blockquote + h4,
.ql-editor blockquote + h5,
.ql-editor blockquote + h6,
.ql-editor blockquote + p,
.ql-editor blockquote + pre,
.ql-editor blockquote + li,
.ql-editor blockquote + ul {
  margin-top: 2em;
}

.ql-editor h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C678DD;
  font-weight: 600;
}

.ql-editor p {
  color: #ABB2BF;
  font-weight: 400;
}

.ql-editor code,
pre {
  background-color: #2D313B;
  border-radius: 2px;
  color: #61AFEF;
}

.ql-editor code {
  padding: .2em .5em;
}

.ql-editor pre {
  padding: 1em 1.5em;
}

.ql-editor code::selection,
.ql-editor em::selection,
.ql-editor h1::selection,
.ql-editor h2::selection,
.ql-editor h3::selection,
.ql-editor h4::selection,
.ql-editor h5::selection,
.ql-editor h6::selection,
.ql-editor li::selection,
.ql-editor p::selection,
.ql-editor pre::selection,
.ql-editor strong::selection,
.ql-editor u::selection {
  background: rgba(34, 37, 43, 0.99);
  opacity: 1;
}

ol,
ul {
  color: #ABB2BF;
}
